<?xml version="1.0"?>
<config>
    <modules>
        <BenDechrai_PackageProductManager>
            <version>0.0.1</version>
        </BenDechrai_PackageProductManager>
    </modules>
    <frontend>
        <layout>
            <updates>
                <packageproductmanager>
                    <file>bendechrai_packageproductmanager.xml</file>
                </packageproductmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BenDechrai_PackageProductManager after="Mage_Adminhtml">BenDechrai_PackageProductManager</BenDechrai_PackageProductManager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bendechrai_packageproductmanager>
                    <file>bendechrai_packageproductmanager.xml</file>
                </bendechrai_packageproductmanager>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <bendechrai_packageproductmanager>
                <class>BenDechrai_PackageProductManager_Model</class>
                <resourceModel>bendechrai_packageproductmanager_mysql4</resourceModel>
            </bendechrai_packageproductmanager>
            <bendechrai_packageproductmanager_mysql4>
                <class>BenDechrai_PackageProductManager_Model_Mysql4</class>
                <entities>
                    <package>
                        <table>bd_ppm_package</table>
                    </package>
                    <product>
                        <table>bd_ppm_product</table>
                    </product>
                </entities>
            </bendechrai_packageproductmanager_mysql4>
        </models>
        <resources>
            <bendechrai_packageproductmanager_setup>
                <setup>
                    <module>BenDechrai_PackageProductManager</module>
                    <class>BenDechrai_PackageProductManager_Model_Resource_Setup</class>
                </setup>
            </bendechrai_packageproductmanager_setup>
            <bendechrai_packageproductmanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bendechrai_packageproductmanager_write>
            <bendechrai_packageproductmanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bendechrai_packageproductmanager_read>
        </resources>
        <helpers>
            <bendechrai_packageproductmanager>
                <class>BenDechrai_PackageProductManager_Helper</class>
            </bendechrai_packageproductmanager>
        </helpers>
        <blocks>
            <bendechrai_packageproductmanager>
                <class>BenDechrai_PackageProductManager_Block</class>
            </bendechrai_packageproductmanager>
        </blocks>
    </global>
    <crontab>
        <jobs>
            <bendechrai_packageproductmanager>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bendechrai_packageproductmanager/cron::run</model>
                </run>
            </bendechrai_packageproductmanager>
        </jobs>
    </crontab>
</config>
